@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.first-section {
    background-color: #1F2937;
    color: white;
    padding-top: 170px;
    padding-bottom: 170px;
    flex-direction: row;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
}

.sign-up-button {
    background-color: #3882F6;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 25px;
    border-style: none;
}

.second-section {
    margin-top: 70px;
    margin-bottom: 70px;
    align-items: center;
}

.random-info-text {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.image-container-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

img {
    border-radius: 30px;
    border: 4px solid #3882F6;
    align-items: center;
}

.image-text {
    justify-content: space-between;
    text-align: center;
}

.third-section {
    background-color: #e5e7eb;
    color: #1F2937;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.quote-text {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 555px;
}

.fourth-section {
    display: flex;
    color: white;
    margin-top: 70px;
    margin-bottom: 70px;
    flex-direction: row;
    justify-content: center;
}

.blue-box {
    background-color: #3882F6;
    border-radius: 7px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.bluebox-text {
    margin-left: 100px;
    align-items: flex-start;
}

.bold-text {
    font-size: 24px;
    font-weight: 600;
}

.transparent-signup-button {
    background-color: transparent;
    border-radius: 14px;
    border: 2px solid white;
    color: white;
    font-size: 17px;
}

.footer-text {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}