@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.first-section {
    background-color: #1F2937;
    color: white;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
}

.sign-up-button {
    background-color: #3882F6;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 25px;
    border-style: none;
}

.third-section {
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    text-align: center;
}

.quote-text {
    text-align: center;
    padding: auto;
}

.quote-author {
    font-weight: bold;
}

.fourth-section {
    color: white;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.blue-box {
    background-color: #3882F6;
    border-radius: 7px;
}

.transparent-signup-button {
    background-color: transparent;
    border-radius: 14px;
    border: 2px solid white;
    color: white;
    font-size: 17px;
}

.footer-text {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}